* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  /* justify-content: space-between; */
  /* gap: 200px; */
  align-items: center;
  padding: 15px 24px;
}

.logo {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.09rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #2ad18a;
  padding: 0 8px;
  margin-right: 220px;
}

.menu {
  padding: 0 79px;
  display: flex;
  gap: 16px;
  margin-right: 341px;
}

.menu__link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  margin: 0 8px;
}

.button-auth {
  width: 89px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #2ad18a;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
}
